.scaleShow{
	transition: all 0.5s 0s ease;
	transform:scale(1.0,1.0);
}
.scaleHide{
	transition: all 0.5s 0s ease;
	transform:scale(1.0,0.0);
	position: absolute;
	transform-origin-y: 0px;
}
.slideDown{
    position: fixed;
    inset: 0;
    margin: auto;
    animation: slideDown 1.0s cubic-bezier(0.12, 0, 0.39, 0) 1 forwards;
}
.slideUp{
    position: fixed;
    inset: 0;
    margin: auto;
    animation: slideUp 1.0s cubic-bezier(0.12, 0, 0.39, 0) 1 forwards;
}
.cardDesign{
	transition: all 0.5s 0s ease;
	float:left;
	margin: 5px 10px;
	height:min(20vw, 100px);
	width:min(24vw, 120px);
	border-radius: 5px;
	background-image:url('../../../image/cardDesign.jpg');
    background-size: 100% 100%;
    cursor:pointer;
}
.cardDesign:hover{
  transform:scale(1.2,1.2);
}

.action{
	background-image:url('../../../image/cardDesign.jpg');
    background-size: 100% 100%;
    text-align:center;

    .cardPanel{
        margin: 0 auto;
        border-radius: 15px;
        width: 360px;
        height: 220px;
        background-image:url('../../../image/cardBg.jpg');
        background-size: cover;
        .frame{
            position: absolute;
            z-index: 1;
            width:100%;
            height:100%;
            background-image: url('../../../image/frame.png');
            background-size: 100% 100%;
            filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.9));
        }
        img.img{
            position: absolute;
            z-index: 0;
        }
    }
    .workMale{
        background-image: url('../../../image/action/work_male.png'); 
        background-color:lightblue; 
        text-align:center; 
        width:100px; 
        height:110px; 
        float:left;
        margin-left:50px;
        padding-top:110px;
    }
    .workFmale{
        background-image: url('../../../image/action/work_fmale.png'); 
        background-color:lightblue; 
        text-align:center; 
        width:100px; 
        height:110px; 
        float:left;
        margin-left:50px;
        padding-top:110px;
    }
    .treat{
        background-image: url('../../../image/action/vacation.png'); 
        background-color:lightpink; 
        text-align:center; 
        width:100px; 
        height:110px; 
        float:right;
        margin-right:50px;
        padding-top:110px;
    }
    .estate{
        background-image: url('../../../image/action/estate.png');
        background-position-x: center;
        background-size: contain;
        height:200px;
        padding-top:100px;
        > div{
            font-family: 'Shrikhand', cursive;

        }
    }
    .stock{
        width:100px; 
        background-image:url('../../../image/stock_bg.jpg'); 
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 5px;
        margin-top:5px;
        margin-left:7px;
        padding:5px 10px; 
        float:left;
    }

    .trade{
        .assetlist{
            position: relative;
            z-index:3;
            background-image: url('../../../image/plate.png');
            background-size: 100% 100%;
            width:300px; 
            height:100px; 
            overflow-y:auto; 
            border-radius: 10px;
            margin:50 auto 0; 
            padding:10px;
            font-family: 'Shrikhand', cursive;
            .selected{
                color:red;
            }
        }
    }
    .vacation{
        >img{
            margin-top:30px;
            width:150px;
            height:150px;
            max-width:100%;
            max-height:100%;
            filter: drop-shadow(5px 5px 5px #aaa);
        }
    }
    .lifelevelRise{
        background-image: url('../../../image/action/lifelevelRise.png'); 
        text-align:center; 
        width:120px; 
        height:100px; 
        float:left;
        margin-left:30px;
        padding-top:70px;
    }
    .lifelevelDrop{
        background-image: url('../../../image/action/lifelevelDrop.png'); 
        text-align:center; 
        width:120px; 
        height:100px; 
        float:right;
        margin-right:30px;
        padding-top:70px;
    }
    .periodComplete{
        width:300px; 
        margin:0 auto; 
    }

    .actionResult{
        background-color: rgba(255,255,128,0.5);
        .vacation{
            div{
                margin-bottom:5px;
            }
            img{
                border-radius: 5px;
                margin-top: 20px;
                width: 280px;
                height: 180px;
            }
        }
        .trade{
            .male{
                height:200px;
                text-align: center;
                background-position-x: center;
                background-size: contain;
                background-image: url('../../../image/action/trade_male.png');
            }
            .fmale{
                height:200px;
                text-align: center;
                background-position-x: center;
                background-size: contain;
                background-image: url('../../../image/action/trade_fmale.png');
            }
        }
        .buyStock{
            .male{
                height:200px;
                text-align: center;
                background-position-x: center;
                background-size: contain;
                background-image: url('../../../image/action/stock_buy_male.png');
            }
            .fmale{
                height:200px;
                text-align: center;
                background-position-x: center;
                background-size: contain;
                background-image: url('../../../image/action/stock_buy_fmale.png');
            }
        }
        .lost{
            background-position-x: center;
            background-size: contain;
            height:200px;
    
            >img{
                width:auto;
                height:auto;
                max-width:100%;
                max-height:100%;
            }
        }
        .periodComplete{
            background-image: url('../../../image/action/kessan.png');
            background-position-x: center;
            background-size: contain;
            > .sheet{
                margin: 10 auto; 
                background-color: rgba(240, 240, 240, 0.8); 
                border-radius: 10px; 
                width:240px; 
                height:200px;
                font-size:smaller; 
                text-align:center;
                padding:5px;
                .row{
                    clear:left;
                    width:210px;
                    margin: 0 auto;
                    > div{
                        width:100px;
                        float:left;
                        border-bottom:solid thin lightgray;
                    }
                    > div:nth-child(2){
                        text-align:right;
                    }
                }
                .row:last-child{
                    font-weight:bold;
                    font-size:larger;
                }
            }
        }

        .statusChange{
            position: absolute;
            top: -50px;
            left: calc(50% - 100px);
            width: 200px;
            border-radius: 10px;
            background-color: rgba(255,255,255,0.7);
            font-family: 'Shrikhand', cursive;
            font-size:min(8vw, 30px);
            animation-name:fadeDownAnime;
            animation-delay: 1s;
            animation-duration:0.5s;
            animation-fill-mode:forwards;
            opacity:0;
            text-align:left;
            .icon{
                margin-left:20px;
                vertical-align: middle;
                width:min(7.5vw, 30px);
                height:min(7.5vw, 30px);
            }
        }
    }
    .message{
        position: absolute;
        bottom:0px;
        width:100%;
        text-align: center;
        font-size:smaller;
        background-color: rgba(0, 255, 0, 0.8);
        color:white;
    }
    .error{
        position: absolute;
        bottom:0px;
        width:100%;
        text-align: center;
        font-size:smaller;
        background-color: rgba(255, 64, 64,0.8);
        color:white;
    }
}

.actionTitle{
    position: absolute;
    z-index: 0;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    color:white;
}

.actionControll {
    position: absolute;
    bottom: 5px;
    z-index:2;
    text-align:center;
    width: 100%;
}

.actionBtn{
	margin: 0 auto;
}
#actionMain{
    //background-color: rgba(32,32,32,0.5);
    clear:left;
    font-family: 'Kosugi Maru', sans-serif;
    height:300px;
}
#processing{
    position: absolute;
    top:0;
    clear:left;
    font-family: 'Kosugi Maru', sans-serif;
    height:300px;
    width:100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.crentPlayer{
    color:yellow;
}
.stockAdjust{
    width:20px;
    height:20px;
    vertical-align: middle;
    cursor: pointer;
}
.win{
    background-color: url('../../../image/fire.jpg');
    padding-top:40px;
}
@keyframes fadeDownAnime{
    from {
      opacity: 0;
      top: -50;
    }
  
    to {
      opacity: 1;
      top: 80;
    }
  }

@keyframes slideDown {
    0% {
        transform: translateY(-1000px);
    }
    50% {
        transform: translateY(50px);
    }
    65% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(50px);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(50);
    }
    100% {
        transform: translateY(-5000px);
    }
}