#app{
    position: relative;
    max-width: 1024px; 
    height:100%;
    margin: 0 auto; 
    font-family: 'Reggae One', cursive; 
    background-size: auto 100%;
    background-position: center;
}
#players{
    margin:5px;
    padding:5px 5px;
    background-color: rgba(32, 32, 32, 0.5);
    border-radius: 10px;
    .player{
        margin:5px;
        position: relative;
        width:min(15vw, 15vh);
        height:min(15vw, 15vh);
        max-width:130px;
        max-height:130px;
        .icon{
            width:min(12vw, 12vh);
            height:min(12vw, 12vh);
            max-width:104px;
            max-height:104px;
            border-radius:50%;
            cursor: pointer;
        }
        .done{
            border: solid thin lightgreen;
        }
        .dead{
            filter:grayscale(1);
        }
        .attacked{
            position:absolute;
            top:30%;;
            left:center;
            width:100%;
            height:100%;
            filter: drop-shadow(10px 10px 5px red);
            z-index:99;
        }
        .roleShortName{
            position:absolute;
            width:100%;
            height:100%;
            left:center;
            font-size:35px;
            text-shadow: gray 1px 0 5px;
            z-index:9;
            opacity: 0.6;
            cursor: pointer;
        }
        .votenum{
            position:absolute;
            right:0;
            width:25px;
            height:25px;
            background-color: rgba(255, 0, 0, 0.5);
            border-radius: 50%;
        }
        .hide{
            transition: all 0.5s 0s ease;
            transition-timing-function: cubic-bezier(0.46, -0.57, 0.6, 1.57);
            transform:scale(0,0);
        }
        .show{
            transition: all 0.5s 0s ease;
            transition-timing-function: cubic-bezier(0.46, -0.57, 0.6, 1.57);
            transform:scale(1.5,1.5);
        }
    }
}
#roles{
    overflow-y: auto;
}
#information{
    position: absolute;
    bottom: 175px;
    height:60px;
    width:100%;
    padding-top:10px;
    background-color: rgba(0,0,0,0.6);
    color:yellow;
    overflow-y: auto;
}
#controll{
    position: absolute;
    bottom: 15px;
    height:160px;
    width:100%;
    padding-top:10px;
    background-color: rgba(0, 0, 0, 0.8);

    .actionResult{
        position: absolute;
        bottom:10px;
        width:100%;
        color:white;
        .message{
            background-color: rgba(0,255,0,0.8);
        }
        .error{
            background-color: rgba(255,0,0,0.8);
        }
    }
    .error{
        background-color: rgba(255,0,0,0.8);
    }
}
#roledescription{
	position: absolute; 
	top: 20; 
	left:0;
	border-radius: 5px; 
	border: solid 1px yellow; 
	background-color: rgba(0,0,0,0.75);
	padding:5px; 
	margin:10px; 
    font-size:smaller;
	z-index:9;
}
.role{
	position: relative;
	width:75px;
	height:120px;
	border-radius: 5px;
	background-size: contain;
	margin:3px;
	.num {
		position:absolute;
        text-align:center;
		top:-5;
		right:-5;
		width:25px;
		height:25px;
		background-color: rgba(255, 0, 0, 0.5);
		border-radius: 50%;
	}
	.name{
		position:absolute;
		left:0;
		right:0;
		text-align:center;
		background-color: #333;
		bottom:30px;
	}
}
.jail{
    background-image: url('../image/jail.jpg');
    background-position: 50% 50%;
    background-size: cover;
    overflow-y: auto;
    .icon{
        width:100px;
        height:100px;
        border-radius:50%;
        filter: drop-shadow(2px 2px 2px gray);
    }
}
.win{
    //background-image: url('../image/win.jpg');
    background-color:rgba(255,255,255,0.4);
    background-position: 50% 50%;
    background-size: cover;
    overflow-y: auto;
    color:black;
    .icon{
        width:100px;
        height:100px;
        border-radius:50%;
        filter: drop-shadow(2px 2px 2px gray);
    }
}
.confine{
    border-radius: 10px;
    padding:5px;
    margin:5px;
    background-image: url('../image/confine.jpg');
    background-position: 50% 50%;
    background-size: cover;
    overflow-y: auto;
    .icon{
        width:60px;
        height:60px;
        border-radius:50%;
        filter: drop-shadow(2px 2px 2px gray);
    }
}
.freedom{
    border-radius: 10px;
    padding:5px;
    margin:5px;
    background-image: url('../image/freedom.jpg');
    background-position: 50% 50%;
    background-size: cover;
    overflow-y: auto;
    .icon{
        width:60px;
        height:60px;
        border-radius:50%;
        filter: drop-shadow(2px 2px 2px lightyellow);
    }
}
.dialog{
    font-family: 'Reggae One', cursive; 
}
.scaleShow{
	transition: all 0.5s 0s ease;
	zoom:1.0;
}
.scaleHide{
	transition: all 0.5s 0s ease;
	zoom:1.0;
	transform:scale(0.0, 1.0);
	transform-origin: 0px 0px;
	position: absolute;
	transform-origin-y: 0px;
}
.selectedOn{
    transition: all 0.5s 0s ease;
    transform:scale(1.5,1.5);
    position: relative;
    z-index:1;
    text-shadow: 0 0 5px lightyellow;
    filter: drop-shadow(2px 2px 2px lightyellow);
}
.selectedOff{
    transition: all 0.5s 0s ease;
    transform:scale(1.0, 1.0);
    position: relative;
    z-index:0;
}
